*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    color:white;
}

body{
    min-height: 100vh;
    padding: 10px;
    background-color: #101114;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color:#00FFC4 ;
}

.container{
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#todoInput{
    box-sizing: border-box;
    padding: 12px 20px;
    background: none;
    border: 2px solid #4A4D57;
    width: 100%;
    border-radius: 1000px;
    font: inherit;
    color: white;
    caret-color: #00FFC4;
}
#todoInput:focus{
    outline: none;
}
form{
    position: relative;
}
#addButton{
    position: absolute;
    top: 5.5%;
    right: 0.5%;
    padding: 10px;
    border: none;
    /* background: none; */
    background-color: #00FFC4;
    width: 100px;
    border-radius: 1000px;
    font: inherit;
    font-weight: 600;
    color: #101114
    cursor: pointer;
}
.todo{
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: #1C1D20;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.todo-text{
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    transition: 200ms ease;
}
.delete-button{
    padding: 3px;
    background: none;
    display: flex;
    outline: none;
    border: none;
    justify-content: center;
    cursor: pointer;
    color: #4A4D57;
}
.delete-button svg{
    transition: 200ms ease;
}
.delete-button:hover svg{
    fill: red;
}
.costum-checkbox{
    border: 2px solid #00FFC4;
    border-radius: 50%;
    min-height: 2%;
    min-width: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 200ms;
    cursor: pointer;
}
input[type="checkbox"]:checked ~ .costum-checkbox{
    background-color: #00FFC4;
}
input[type="checkbox"]:checked ~ .costum-checkbox svg{
    fill: #1C1D20;
}

input[type="checkbox"]:checked ~ .todo-text{
    text-decoration: line-through;
    color: #4A4D57;
}
input[type="checkbox"]{
    display: none;
}


@media only screen and(max-width:500px){
   html{
    font-size: 12pt;
   }
   #addButton{
    position: unset;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    height: auto;
   }
   h1{
    margin-top: 50px;
    font-size: 15vw
   }
}